:root {
  --padding: 20px;
  --primary-color: white;
  --secondary-color: #F85555;
  --border-color: #9996;
  --color-primary-text: black;
  --color-secondary-text: #9996;
  --color-footer: #3C3C3B;
  --font-family: 'Lato', sans-serif;
}

@media screen and (min-width: 720px) {
  :root {
    --padding: 40px;
  }
}
@media screen and (min-width: 1024px) {
  :root {
    --padding: 60px;
  }
}

/* -- Reset -- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::after,
*::before {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.appRouter {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}



/* ------ utilities -------- */

